.footer{
    border: 0px solid red;
    height: 200px;
    width: 100%;
    display: flex;
    justify-content:space-around;
    align-items: center;
    background-color: black;
}
.footerb{
    
    height: 180px;
    width: 350px;
    float: left;
    color: white;
    text-align: center;
}

#top ul
{
    list-style: none;
    z-index: 1000;
}
#top ul li{
    background-color: crimson;
    border:2px solid white;
    text-align: center;
    line-height: 40px;
    float: left;
    height: 40px;
    width: 300px;
    position: relative;
    
}
#top ul li a{
    text-decoration: none;
    color: white;
    display: block;

}
#top ul li a:hover{
    background-color:brown;
}
#top ul ul{
    display: none;
    position: absolute;
}
#top ul li:hover>ul{
    display: block;
}
table{
    height: 430px;
}
input{
    width:100%;
    height:35px;
    border: 2px solid gold;
    border-radius: 20px;
    font-size: 20px;
}
textarea{
    width:100%;
    height:100px;
}
select{
    width:100%;
    height:35px;
}
input [type=button]:hover{
    background-color: blue;
    color:white;
}
.contact{
    width:100%;
    height:500px;
    border: 0px solid red;
    display: flex;
    justify-content:space-around;
    align-items: center;
}
.contact1{
    width:49%;
    height:430px;
    border: 0px solid greenyellow;
    float:left
}